@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');
/* Font */
$font: 'Poppins', sans-serif;
/* Colors */
$darkBlue: #162B3D;
$blue: #05C2FE;
$lightBlue:#5CD7FE;
$lighterBlue: #ACE4F5;
$red: #A73033;
$yellow: #B97E0B;