@import './../../../../../../../../scss/abstracts/variables';

.button{
  height: 40px;
  width: 40px;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}
.delete{
  border: solid 2px $red;
}
.edit{
  border: solid 2px $yellow;
}