@import './../../../../scss/abstracts/variables';
form{
  margin-top: 117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  input{
    margin-bottom: 63px;
    border: solid 1px $lighterBlue;
    border-radius: 20px;
    background: none;
    height: 32px;
    width: 267px;
    font-weight: 600;
    font-size: 20px;
    color: $lightBlue;
    outline: none;
    padding: 20px;
  }
  input::placeholder{
    color: rgba(5, 194, 254, 0.51);
  }
  button{
    width: 143px;
    height: 36px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(1, 18, 33, 0.74);
    border: none;
    background: $lightBlue;
    color: $darkBlue;
    font-size: 20px;
    font-weight: 600;
  }
}
