@import './../../scss/abstracts/variables';

.login{
  height: 100vh;
  background: $darkBlue;
  h1{
    color: $lightBlue;
    font-size: 30px;
    font-weight: 600;
  }
  .login_line{
    background: $lighterBlue;
    height: 2px;
    width: 64px;
  }
}
